In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
pd.set_option('expand_frame_repr',False)

In [12]:
df = pd.read_csv('Sep-Potato.csv', header=1)
df['Price Date'] = pd.to_datetime(df['Price Date'], format='%d-%b-%y')
df_cleaned = df.drop_duplicates(subset=['Price Date'])
df_sorted = df_cleaned.sort_values(by='Price Date')
Extracted_features = df_sorted[['District Name', 'Commodity', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Price Date']]
Extracted_features.set_index('Price Date', inplace=True)
full_date = pd.date_range(start='2024-09-01', end='2024-09-30')
full_Extracted_features = Extracted_features.reindex(full_date)
full_Extracted_features['Date'] = full_date
full_Extracted_features['Max Price (Rs./Quintal)'] = full_Extracted_features['Max Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features['Min Price (Rs./Quintal)'] = full_Extracted_features['Min Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features['Modal Price (Rs./Quintal)'] = full_Extracted_features['Modal Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features['Max Price (Rs./Quintal)'] = full_Extracted_features['Max Price (Rs./Quintal)'].round(0)
full_Extracted_features.iloc[0, 2:5] = full_Extracted_features.iloc[1:3, 2:5].mean()
full_Extracted_features['District Name'], full_Extracted_features['Commodity'] = 'Ahmedabad', 'Potato'
display(full_Extracted_features)

           District Name Commodity  Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  Modal Price (Rs./Quintal)       Date
2024-09-01     Ahmedabad    Potato                   2000.0                   2450.0                     2350.0 2024-09-01
2024-09-02     Ahmedabad    Potato                   2000.0                   2500.0                     2400.0 2024-09-02
2024-09-03     Ahmedabad    Potato                   2000.0                   2400.0                     2300.0 2024-09-03
2024-09-04     Ahmedabad    Potato                   2000.0                   2300.0                     2200.0 2024-09-04
2024-09-05     Ahmedabad    Potato                   2000.0                   2300.0                     2200.0 2024-09-05
2024-09-06     Ahmedabad    Potato                   1800.0                   2100.0                     2000.0 2024-09-06
2024-09-07     Ahmedabad    Potato                   1800.0                   2167.0                     2025.0 2024-09-07
2024-09-08     Ahmedabad    Potato                   1800.0                   2233.0                     2050.0 2024-09-08
2024-09-09     Ahmedabad    Potato                   1800.0                   2300.0                     2075.0 2024-09-09
2024-09-10     Ahmedabad    Potato                   1800.0                   2367.0                     2100.0 2024-09-10
2024-09-11     Ahmedabad    Potato                   1800.0                   2433.0                     2125.0 2024-09-11
2024-09-12     Ahmedabad    Potato                   1800.0                   2500.0                     2150.0 2024-09-12
2024-09-13     Ahmedabad    Potato                   1800.0                   2300.0                     2050.0 2024-09-13
2024-09-14     Ahmedabad    Potato                   1800.0                   2262.0                     2050.0 2024-09-14
2024-09-15     Ahmedabad    Potato                   1800.0                   2225.0                     2050.0 2024-09-15
2024-09-16     Ahmedabad    Potato                   1800.0                   2188.0                     2050.0 2024-09-16
2024-09-17     Ahmedabad    Potato                   1800.0                   2150.0                     2050.0 2024-09-17
2024-09-18     Ahmedabad    Potato                   1800.0                   2150.0                     2050.0 2024-09-18
2024-09-19     Ahmedabad    Potato                   1800.0                   2200.0                     2100.0 2024-09-19
2024-09-20     Ahmedabad    Potato                   1800.0                   2200.0                     2100.0 2024-09-20
2024-09-21     Ahmedabad    Potato                   1800.0                   2400.0                     2200.0 2024-09-21
2024-09-22     Ahmedabad    Potato                   1800.0                   2300.0                     2150.0 2024-09-22
2024-09-23     Ahmedabad    Potato                   1800.0                   2200.0                     2100.0 2024-09-23
2024-09-24     Ahmedabad    Potato                   1800.0                   2200.0                     2100.0 2024-09-24
2024-09-25     Ahmedabad    Potato                   2000.0                   2800.0                     2500.0 2024-09-25
2024-09-26     Ahmedabad    Potato                   1800.0                   2800.0                     2600.0 2024-09-26
2024-09-27     Ahmedabad    Potato                   1800.0                   2800.0                     2600.0 2024-09-27
2024-09-28     Ahmedabad    Potato                   1800.0                   3000.0                     2700.0 2024-09-28
2024-09-29     Ahmedabad    Potato                   1800.0                   2900.0                     2650.0 2024-09-29
2024-09-30     Ahmedabad    Potato                   1800.0                   2800.0                     2600.0 2024-09-30

In [ ]:
df1 = pd.read_csv('Sep-onion.csv', header=1)
df1['Price Date'] = pd.to_datetime(df1['Price Date'], format='%d-%b-%y')
df1_cleaned = df1.drop_duplicates(subset=['Price Date'])
df1_sorted = df1_cleaned.sort_values(by='Price Date')
Extracted_features1 = df1_sorted[['District Name', 'Commodity', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Price Date']]
Extracted_features1.set_index('Price Date', inplace=True)
full_date1 = pd.date_range(start='2024-09-01', end='2024-09-30')
full_Extracted_features1 = Extracted_features1.reindex(full_date1)
full_Extracted_features1['Date'] = full_date1
full_Extracted_features1['Max Price (Rs./Quintal)'] = full_Extracted_features1['Max Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features1['Min Price (Rs./Quintal)'] = full_Extracted_features1['Min Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features1['Modal Price (Rs./Quintal)'] = full_Extracted_features1['Modal Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features1.iloc[0, 2:5] = full_Extracted_features1.iloc[1:4, 2:5].mean()
full_Extracted_features1['Modal Price (Rs./Quintal)'] = full_Extracted_features1['Modal Price (Rs./Quintal)'].round(0)
full_Extracted_features1['Max Price (Rs./Quintal)'] = full_Extracted_features1['Max Price (Rs./Quintal)'].round(0)
full_Extracted_features1['District Name'], full_Extracted_features1['Commodity'] = 'Ahmedabad', 'Onion'
display(full_Extracted_features1)

In [ ]:
df2 = pd.read_csv('Sep-cabbage.csv', header=1)
df2['Price Date'] = pd.to_datetime(df2['Price Date'], format='%d-%b-%y')
df2_cleaned = df2.drop_duplicates(subset=['Price Date'])
df2_sorted = df2_cleaned.sort_values(by='Price Date')
Extracted_features2 = df2_sorted[['District Name', 'Commodity', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Price Date']]
Extracted_features2.set_index('Price Date', inplace=True)
full_date2 = pd.date_range(start='2024-09-01', end='2024-09-30')
full_Extracted_features2 = Extracted_features2.reindex(full_date2)
full_Extracted_features2['Date'] = full_date2
full_Extracted_features2['Max Price (Rs./Quintal)'] = full_Extracted_features2['Max Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features2['Min Price (Rs./Quintal)'] = full_Extracted_features2['Min Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features2['Modal Price (Rs./Quintal)'] = full_Extracted_features2['Modal Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features2.iloc[0, 2:5] = full_Extracted_features2.iloc[1:3, 2:5].mean()
full_Extracted_features2['District Name'], full_Extracted_features2['Commodity'] = 'Ahmedabad', 'Cabbage'
display(full_Extracted_features2)

In [ ]:
df3 = pd.read_csv('Sep-bottle gourd.csv', header=1)
df3['Price Date'] = pd.to_datetime(df3['Price Date'], format='%d-%b-%y')
df3_cleaned = df3.drop_duplicates(subset=['Price Date'])
df3_sorted =  df3_cleaned.sort_values(by='Price Date')
Extracted_features3 = df3_sorted[['District Name', 'Commodity', 'Min Price (Rs./Quintal)', 'Max Price (Rs./Quintal)', 'Modal Price (Rs./Quintal)', 'Price Date']]
Extracted_features3.set_index('Price Date', inplace=True)
full_date3 = pd.date_range(start='2024-09-01', end='2024-09-30')
full_Extracted_features3 = Extracted_features3.reindex(full_date3)
full_Extracted_features3['Date'] = full_date3
full_Extracted_features3['Max Price (Rs./Quintal)'] = full_Extracted_features3['Max Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features3['Min Price (Rs./Quintal)'] = full_Extracted_features3['Min Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features3['Modal Price (Rs./Quintal)'] = full_Extracted_features3['Modal Price (Rs./Quintal)'].interpolate(method='linear')
full_Extracted_features3.iloc[0, 2:5] = full_Extracted_features.iloc[1:3, 2:5].mean()
full_Extracted_features3['District Name'], full_Extracted_features3['Commodity'] = 'Ahmedabad', 'Bottle gourd'
display(full_Extracted_features3)

In [ ]:
# Weather conditin for Ahmedabad
weather = pd.read_csv('Sep-Weather-Ahmedabad.csv')
selected_features = weather[['datetime', 'tempmax', 'tempmin', 'temp', 'dew', 'humidity', 'windspeed', 'sealevelpressure']]
selected_features['Date'] = selected_features['datetime']
selected_features.set_index('datetime', inplace=True)
selected_features['Date'] = pd.to_datetime(selected_features['Date'])
display(selected_features)

In [ ]:
Potato = full_Extracted_features.merge(selected_features, on='Date')
display(Potato)
display(Potato.columns)
Onion = full_Extracted_features1.merge(selected_features, on='Date')
display(Onion)
Cabbage = full_Extracted_features2.merge(selected_features, on='Date')
display(Cabbage)
Bottle_gourd  = full_Extracted_features3.merge(selected_features, on='Date')
display(Bottle_gourd)

In [46]:
X = Potato[['tempmax', 'tempmin', 'temp', 'dew', 'humidity', 'windspeed', 'sealevelpressure']]
Y = Potato['Max Price (Rs./Quintal)']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42) 

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(x_train_scaled, y_train)
y_pred = model.predict(x_test_scaled)
predicted_price = pd.DataFrame(y_pred)
display("Predicted Prices", predicted_price)

'Predicted Prices'

         0
0  2550.59
1  2256.07
2  2446.22
3  2279.77
4  2420.31
5  2336.51

In [ ]:
plt.scatter(y_test, y_pred)
plt.xlabel('Actual Max Price')
plt.ylabel('Predicted Max Price')
plt.title('Actual vs Predicted Max Price')
plt.show()